In [10]:
#What exactly is []?

"""The empty list value, which is a list value that contains no items. This is similar to how '' is the empty string value."""

"The empty list value, which is a list value that contains no items. This is similar to how '' is the empty string value."

In [11]:
#""""In a list of values stored in a variable called spam, how would you assign the value "hello" as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)""""
spam=[2,4,6,8,10]
spam.insert(2, "hello")
print(spam)

[2, 4, 'hello', 6, 8, 10]

In [7]:
"""Let,s pretend the spam includes the list ["a", "b", "c", "d"] for the next three queries."""

'Let,s pretend the spam includes the list ["a", "b", "c", "d"] for the next three queries.'

In [22]:
#What is the value of spam[int(int("3" * 2) / 11)]?
spam=["a","b","c","d"]

In [20]:
spam[int(int("3" * 2) / 11)]
"""'d' (Note that '3' * 2 is the string '33', which is passed to int() before being divided by 11. This eventually evaluates to 3. Expressions can be used wherever values are used.)"""

"'d' (Note that '3' * 2 is the string '33', which is passed to int() before being divided by 11. This eventually evaluates to 3. Expressions can be used wherever values are used.)"

In [16]:
#What is the value of spam[-1]?

"""'d' (Negative indexes count from the end.)"""

"'d' (Negative indexes count from the end.)"

In [17]:
spam[-1]

'd'

In [18]:
#What is the value of spam[:2]?
spam[:2]

['a', 'b']

In [62]:
#Let,s pretend bacon has the list [3.14, "cat", 11,"cat", True] for the next three questions.
bacon=[3.14, "cat", 11,"cat", True]

In [63]:
#What is the value of bacon.index("cat")?
bacon.index("cat")

1

In [64]:
#How does bacon.append(99) change the look of the list value in bacon?
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [65]:
#How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?
bacon.remove("cat")
bacon

[3.14, 11, 'cat', True, 99]

In [66]:
#What are the list concatenation and list replication operators?
"""The operator for list concatenation is +, while the operator for replication is *. (This is the same as for strings.)"""

'The operator for list concatenation is +, while the operator for replication is *. (This is the same as for strings.)'

In [99]:
#list concatenation 
a=[1,2,3,"gourav"]
b=[1,2,4,"verma"]
c=a+b
c

[1, 2, 3, 'gourav', 1, 2, 4, 'verma']

In [100]:
b+=a
b

[1, 2, 4, 'verma', 1, 2, 3, 'gourav']

In [101]:
#list replication
d=a*3
d

[1, 2, 3, 'gourav', 1, 2, 3, 'gourav', 1, 2, 3, 'gourav']

In [102]:
a*=3
a

[1, 2, 3, 'gourav', 1, 2, 3, 'gourav', 1, 2, 3, 'gourav']

In [103]:
#What is difference between the list methods append() and insert()?
"""While append() will add values only to the end of a list, insert() can add them anywhere in the list."""

'While append() will add values only to the end of a list, insert() can add them anywhere in the list.'

In [112]:
#What are the two methods for removing items from a list?
"""While append() will add values only to the end of a list, insert() can add them anywhere in the list."""
a=[1,2,3,"gourav"]
del a[2]
a

[1, 2, 'gourav']

In [117]:
#how to use remove fun
b=[1,2,4,"verma"]
b.remove("verma")
b

[1, 2, 4]

In [119]:
#Describe how list values and string values are identical.
"""Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators."""

'Both lists and strings can be passed to len(), have indexes and slices, be used in for loops, be concatenated or replicated, and be used with the in and not in operators.'

In [121]:
#What,s the difference between tuples and lists?
"""Lists are mutable; they can have values added, removed, or changed. Tuples are immutable; they cannot be changed at all. Also, tuples are written using parentheses, ( and ), while lists use the square brackets,"""

'Lists are mutable; they can have values added, removed, or changed. Tuples are immutable; they cannot be changed at all. Also, tuples are written using parentheses, ( and ), while lists use the square brackets,'

In [128]:
#How do you type a tuple value that only contains the integer 42?
a=(42,)
"""Trailing coma is mandatory"""
a

(42,)

In [9]:
#How do you get a list value's tuple form? How do you get a tuple value's list form?
"""list from a tuple"""
t= (24,3,24,2,4,24,234)
a=list(t)
a

[24, 3, 24, 2, 4, 24, 234]

In [11]:
"""tuple from list"""
a=[24, 3, 24, 2, 4, 24, 234]
b=tuple(a)
b

(24, 3, 24, 2, 4, 24, 234)

In [12]:
#Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?
"""They contain references to list values."""

'They contain references to list values.'

In [15]:
#How do you distinguish between copy.copy() and copy.deepcopy()?
"""The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list."""

'The copy.copy() function will do a shallow copy of a list, while the copy.deepcopy() function will do a deep copy of a list. That is, only copy.deepcopy() will duplicate any lists inside the list.'

In [7]:
#importing copy module
import copy
a=[24, 3, 24, 2, 4, 24, 234]
#using copy for shalow copy
b=copy.copy(a)
#using copy for deep copy
c=copy.deepcopy(b)